<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.song.mapper.UserMapper" >
	<select id="findUserById" parameterType="java.lang.Integer" resultType="com.song.po.User">
		<!-- select * from user where id = #{id} -->
		
 		select * from user
		<where>
			<if test="_parameter != null">
				id = #{_parameter}
			</if>
		
		</where>
		
	</select>
	
	<select id="findUsers" resultType="com.song.po.User">
		select * from user;
	</select>	
	
</mapper>